body {
    font-family: sans-serif;
    background-color: #000000;
    color: #ffffff;
}
a {
    text-decoration: none;
    color: #ffffff;
}
.hero {
    display: inline-flex;
    flex-direction: row;
}
.selection {
    position: relative;
    top: 20px;
}
.mainrow {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
}
.event {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 15px;
    line-height: 25px;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 10px;
}
.eventDetail {
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 600px;
    padding: 10px;
}
.lbl {
    font-weight: bold;
}
.details {
    width: 150px;
    font-family: sans-serif;
    padding: 10px;
    border: 2px solid black;
}
.image {
    border: 2px solid black;
    width: 150px;
    padding: 0px;
    cursor: pointer;
    background-color: black;
}.imageevent {
    border: 2px solid black;
    width: 150px;
    padding: 0px;
    cursor: pointer;
    background-color: black;
}